.container{
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.header{
    border: 3px;
    background-color:blue ;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.col{
    float: left;
    width: 30%;
    gap:5%;
    height: 500px;
}
.content{
    justify-content: space-between;
    display: flex;
}
.footer{
    background-color: blue;
    padding: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
}
@media(max-width:600px){
    content{
        flex-direction: column;
    }
    .col{
        width: 100%;
        margin: 0%;
    }
}
